<meta charset="UTF-8">

<pre style="text-align:center">
<span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><big>Hello, Х5 Retail :)</big>
<span style="font-size:26px">Получаем пользователей проекта.</span></span></pre>

<p>&nbsp;</p>

<h2><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif">Введите ссылку на public проект в GitLab:&nbsp;<form action="/cgi-bin/GitGetUserV2.py" method="post"><input name="url" type="text" /> <input type="submit" value="получить" />&nbsp;</form>

<p>&nbsp;</p>